header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

header::before {
    content: "";
    background-image: url("images/HeadderBackground.png");
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: grayscale(100%);
    border-radius: 10px;
}

header h1 {
    position: relative;
    text-align: center;
    font-family: 'Zen Loop', cursive;
    background-color: #aeaeae;
    font-size: 90px;
    font-weight: bold;
    border: 5px  #aeaeae;
    border-radius: 20px;
    padding: 0 10px;
}

img {
    width: 120px;
    height: 120px;
    border: 5px dotted #aeaeae;
    border-radius: 50%;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 35px 10px 0;
}

nav li {
    width: 200px;
    padding: 15px;
    font-family: "Amatic SC", cursive;
    font-size: 35px;
    text-align: center;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

nav li a {
    color: white;
}

nav li:nth-child(1) {background-color: #2d93ad; border-radius: 10px; flex: 1; margin: 3px}
nav li:nth-child(2) {background-color: #52528c; border-radius: 10px; flex: 1; margin: 3px}
nav li:nth-child(3) {background-color: #ca2e55; border-radius: 10px; flex: 1; margin: 3px}
nav li:nth-child(4) {background-color: #e28413; border-radius: 10px; flex: 1; margin: 3px}
nav li:nth-child(5) {background-color: #f9c80e; border-radius: 10px; flex: 1; margin: 3px}

/* Cool Green Color #c2e812 #44546a*/

h2 {
    font-family: "Amatic SC", cursive;
    font-size: 70px;
    text-align: center;
}

h3 {
    font-family: "Amatic SC", cursive;
    font-size: 40px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

section div {
    margin: 5px 30px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 a3";
    //text-align: center;

}

section div:nth-child(1){grid-area: a1;}
section div:nth-child(2){grid-area: a2; }
section div:nth-child(3){grid-area: a3; }


section article h3 {
    text-align: center;
}

.block {
    border: 5px dotted #2d93ad;;
    border-radius: 15px;
    margin: 0 5px;
    padding: 0 15px;
}

em {
    font-weight: bolder;
}

#Start {
    margin-top: 5%;
}

#Start p {
    text-align: center;
}

#Start label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 100%;
    font-weight: bold; //???????
}

#email, #password {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
}

#Start fieldset {
    border: 5px dotted #52528c;;
    border-radius: 15px;
    width: 35%;
    display: block;
    margin: 0 auto 5% auto;
}

#Start legend {
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    padding: 10px 15px;
    background-color: #52528c;
    color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

#Start-Button {
    background-color: #52528c;
    color: white;
    border: 5px solid white;
    border-radius: 15px;
    font-size: 50px;
    font-family: "Zen Loop", cursive;
    font-weight: bold;
    padding: 15px 0;
    width: 50%;
    display: block;
    margin: 0 auto 0 auto;
}

#Start-Button:hover{
    background-color: white;
    color: #52528c;
    border: 5px dotted #52528c;;
    border-radius: 15px;
    font-size: 50px;
    font-family: "Zen Loop", cursive;
    font-weight: bold;
    padding: 15px 0;
    width: 50%;
    display: block;
    margin: 0 auto 0 auto;
}

address {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #aeaeae;
    border-radius: 10px;
    padding: 5px 10px;
}

@media screen and (max-width: 600px) {
    header::before {
        background-size: auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        margin: 10px 35px 10px 0;
        list-style: none;
    }

    .block {
        margin: 5px 5px;
    }

    section div {
        margin: 5px 30px;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "a1"
                "a2"
                "a3";
        text-align: center;
    }

}
