body {
    background-color: slategray;

}

header {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    font-family: 'Zen Loop', cursive;
    background-color: #aeaeae;
    font-size: 90px;
    font-weight: bold;
    border-radius: 20px;
    padding: 0;
    margin: 0 40% 0 40% ;
}

#ICON {
    display: inline;
    float: right;
    margin: 0 auto 0 auto;
    border: 5px solid slategray;
    border-radius: 10px;
    font-size: 40px;
}

#SignOut {
    display: inline;
    float: right;
    margin: 0 5px 0 auto;
    border: 5px solid slategray;
    border-radius: 10px;
    font-size: 40px;
    color: #262626;
}

#SignOut:hover {
    display: inline;
    float: right;
    margin: 0 5px 0 auto;
    border: 5px solid #c2e812;
    border-radius: 10px;
    font-size: 40px;
    color: #262626;
    background-color: #c2e812;
}

#Delete {
    display: inline;
    float: right;
    margin: 0 5px 0 auto;
    border: 8px solid slategray;
    border-radius: 10px;
    font-size: 35px;
    color: #262626;
}

#Delete:hover {
    display: inline;
    float: right;
    margin: 0 5px 0 auto;
    border: 8px solid #262626;
    border-radius: 10px;
    font-size: 35px;
    color: floralwhite;
    background-color: #262626;
}

nav{
    padding: 5px 0 5px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 4% 5px 2%;
}

nav li {
    width: 200px;
    padding: 15px;
    text-align: center;
    list-style: none;

}
nav ul li:hover {
    background-color: #89043d;
}

.btn {
    color: floralwhite;
    background-color: #262626;
    border: 3px dotted #89043d;
    border-radius: 10px;
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    width: 100%;
    height: 100%;
}

.btn:hover {
    color: floralwhite;
    //background-color: #89043d;
    border: 3px dotted #89043d;
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    width: 100%;
    height: 100%;

}

nav li:nth-child(1) {background-color: #262626; border-radius: 10px; flex: 1; margin: 5px}
nav li:nth-child(2) {background-color: #262626; border-radius: 10px; flex: 1; margin: 5px}
nav li:nth-child(3) {background-color: #262626; border-radius: 10px; flex: 1; margin: 5px}
nav li:nth-child(4) {background-color: #262626; border-radius: 10px; flex: 1; margin: 5px}
nav li:nth-child(5) {background-color: #262626; border-radius: 10px; flex: 1; margin: 5px}

/* Green: #c2e812
   Light Blue: #2d93ad
   Dark Blue: #2d93ad
   Red: #ca2e55
   Orange: #e28413
   Yellow: #f9c80e

   Dark Red: #c2e812
 */



#map{
    height: 500px;
    width: 100%;
    border-radius: 15px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: "Amatic SC", cursive;
    font-size: 40px;
}

#country1{
    grid-area: a1;
    background-color: #262626;
    color: floralwhite;
}

#country2{
    grid-area: a2;
    background-color: #262626;
    color: floralwhite;
}

main #Countries div{
    margin: 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "a1 a2";
}

.block {
    border: 5px dotted #c2e812;
    border-radius: 15px;
    margin: 5px 5px;
    padding: 0 15px;
}

.block article {
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #89043d;
}
.clear {
    display: block;
    margin: 10px auto 10px auto;
    width: 80%;
    height: auto;
    background-color: #262626;
    color: white;
    border: 3px solid #262626;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Amatic SC",cursive;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.clear:hover {
    display: block;
    margin: 10px auto 10px auto;
    width: 80%;
    height: auto;
    background-color: #c2e812;
    color: #262626;
    border: 3px solid #c2e812;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Amatic SC",cursive;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

#compare{
    display: block;
    margin: 0 auto 0 auto;
    width: 80%;
    height: auto;
    background-color: #262626;
    color: white;
    border: 4px solid #262626;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

#compare:hover{
    display: block;
    margin: 0 auto 0 auto;
    width: 80%;
    height: auto;
    background-color: #c2e812;
    color: #262626;
    border: 4px solid #c2e812;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

#MapImage {
    border: 5px dotted #89043d;
    background-color: #262626;
}
#MapInfo {
    border: 5px dotted #89043d;
    background-color: #262626;
}

h2 {
    font-family: "Amatic SC", cursive;
    font-size: 70px;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    margin: 15px 5px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

address {
    font-family: 'Source Sans Pro', sans-serif;
    //background-color: #aeaeae;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px 10px;
}

.top {
    --offset: 50px;

    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    place-self: end;
    margin-top: 100px;

    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {

    header h1 {
        text-align: center;
        font-family: 'Zen Loop', cursive;
        background-color: #aeaeae;
        font-size: 50px;
        font-weight: bold;
        border-radius: 20px;
        padding: 0;
        margin: 0 42% 0 42% ;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px 0 10px 0;
    }
}
